/**
 * Rubymonstas slides theme
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: white; }

p.subtitle {
  color: #5B595A; }

h1.align-left {
  text-align: left; }

b {
  color: #DC402B; }

i {
  font-style: italic; }

.coaches {
  font-size: 0.8em; }

.flex-container {
  display: flex; }

.text-align-left {
  text-align: left; }

.flex-column {
  flex: 1; }

.flex-column-200px {
  flex: 0 0 200px; }

img.coach {
  height: 130px;
  border-radius: 100px; }

img.no-border {
  border: none !important;
  box-shadow: none !important; }

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto-fit; }

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto-fit; }

.grid-container-3-2 {
  display: grid;
  grid-template-columns: repeat(3, auto-fit);
  grid-template-rows: auto-fit; }

.coach1 {
  grid-column-start: 1;
  grid-column-end: 3; }

.coach2 {
  grid-column-start: 3;
  grid-column-end: 5; }

.coach3 {
  grid-column-start: 5;
  grid-column-end: 7; }

.coach4 {
  grid-column-start: 2;
  grid-column-end: 4; }

.coach5 {
  grid-column-start: 4;
  grid-column-end: 6; }

pre.pre-inline {
  display: inline !important;
  font-size: 0.9em !important;
  margin: auto 10px !important;
  padding: 0.2rem 0.5rem; }

kbd {
  font-family: monospace;
  color: white;
  background-color: #212529;
  border-radius: .5rem;
  padding: .2rem .4rem;
  font-size: 0.9em; }

.text-red {
  color: #dc402b; }

.text-blue {
  color: #2a76dd; }

.list-none {
  list-style-type: none !important; }

.list-reset {
  margin: 0 !important;
  padding: 0 !important; }

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem; }

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem; }

.text-base {
  font-size: 1rem;
  line-height: 1.5rem; }

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem; }

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem; }

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem; }

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem; }

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem; }

.text-5xl {
  font-size: 3rem;
  line-height: 1; }

.text-6xl {
  font-size: 3.75rem;
  line-height: 1; }

.text-7xl {
  font-size: 4.5rem;
  line-height: 1; }

.text-8xl {
  font-size: 6rem;
  line-height: 1; }

.text-9xl {
  font-size: 8rem;
  line-height: 1; }

.text-white {
  color: #fff; }

.text-gray-500 {
  color: #6b7280; }

.text-red-500 {
  color: #ef4444; }

.text-yellow-500 {
  color: #fdd34d; }

.text-green-500 {
  color: #10b981; }

.text-blue-500 {
  color: #3b82f6; }

.text-indigo-500 {
  color: #6366f1; }

.text-purple-500 {
  color: #8b5cf6; }

.text-pink-500 {
  color: #ec4899; }

.bg-gray-500 {
  background-color: #6b7280; }

.bg-red-500 {
  background-color: #ef4444; }

.bg-yellow-500 {
  background-color: #fdd34d; }

.bg-green-500 {
  background-color: #10b981; }

.bg-blue-500 {
  background-color: #3b82f6; }

.bg-indigo-500 {
  background-color: #6366f1; }

.bg-purple-500 {
  background-color: #8b5cf6; }

.bg-pink-500 {
  background-color: #ec4899; }

.border-0 {
  border-style: solid;
  border-width: 0px; }

.border {
  border-style: solid;
  border-width: 1px; }

.border-3 {
  border-style: solid;
  border-width: 3px; }

.border-2 {
  border-style: solid;
  border-width: 2px; }

.border-4 {
  border-style: solid;
  border-width: 4px; }

.border-8 {
  border-style: solid;
  border-width: 8px; }

.border-gray-500 {
  border-color: #6b7280; }

.border-red-500 {
  border-color: #ef4444; }

.border-yellow-500 {
  border-color: #fdd34d; }

.border-green-500 {
  border-color: #10b981; }

.border-blue-500 {
  border-color: #3b82f6; }

.border-indigo-500 {
  border-color: #6366f1; }

.border-purple-500 {
  border-color: #8b5cf6; }

.border-pink-500 {
  border-color: #ec4899; }

.m-0 {
  margin: 0; }

.m-1 {
  margin: 0.25rem; }

.m-2 {
  margin: 0.5rem; }

.m-3 {
  margin: 0.75rem; }

.m-4 {
  margin: 1rem; }

.m-8 {
  margin: 2rem; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem; }

.p-0 {
  padding: 0; }

.p-1 {
  padding: 0.25rem; }

.p-2 {
  padding: 0.5rem; }

.p-3 {
  padding: 0.75rem; }

.p-4 {
  padding: 1rem; }

.p-8 {
  padding: 2rem; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem; }

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #DC402B;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a76dd; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: white; } }
