/**
 * Rubymonstas slides theme
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


$rubymonstasRed: #DC402B;
$subtitleGrey: #5B595A;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: white;

$mainColor: #222;
$headingColor: $rubymonstasRed;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

p.subtitle {
  color: $subtitleGrey;
}

h1.align-left {
  text-align: left;
}

b {
  color: $rubymonstasRed;
}

.coaches {
  font-size: 0.8em;
}

.flex-container{
  display: flex;
}

.text-align-left {
  text-align: left;
}

.flex-column {
  flex: 1;
}

.flex-column-200px {
  flex: 0 0 200px;
}

// Images
img.coach {
  height: 130px;
  border-radius: 100px;
}

img.no-border {
  border: none !important;
  box-shadow: none !important;
}

// CSS grid

// Grid for four coaches
.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto-fit;
}

// Grid for six coaches
.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto-fit;
}

// Grid for five coaches
.grid-container-3-2 {
    display: grid;
    grid-template-columns: repeat(3, auto-fit);
    grid-template-rows: auto-fit;
}

.coach1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.coach2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.coach3 {
  grid-column-start: 5;
  grid-column-end: 7;
}

.coach4 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.coach5 {
  grid-column-start: 4;
  grid-column-end: 6;
}

pre.pre-inline {
  display: inline !important;
  font-size: 0.9em !important;
  margin: auto 10px !important;
}

kbd {
  font-family: monospace;
  color: white;
  background-color: #212529;
  border-radius: .5rem;
  padding: .2rem .4rem;
  font-size: 0.9em;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
